<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Juna, Digital, JunaDigital, Juna Digital, .NET ontwikkeling, .NET development, ASP.NET MVC, .NET Framework, Javascript, HTML5, CSS3, Node, Angular, NodeJS, AngularJS, Responsive websites, Mobile Apps, software op maat, websites, webdesign, merelbeke, webdevelopment, it consultancy">
    <meta name="description" content="Juna Digital biedt u expertise in .NET ontwikkeling en front end webontwikkeling op maat.">
    <meta name="robots" content="Index, Follow">
    <meta name="author" content="Juna Digital, Dominique Menu">
    <title>Juna Digital - Software op maat - .NET & Front end development - IT Consultancy</title>

    @Styles.Render("~/Content/css")
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
        <div id="load"></div>
    </div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Start</a></li>
                    <!--<li><a href="#about">About</a></li>-->
                    <li><a href="#service">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <!--<li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Example menu</a></li>
                        <li><a href="#">Example menu</a></li>
                        <li><a href="#">Example menu</a></li>
                      </ul>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="wow shake" data-wow-delay="0.4s">
                        <div class="page-scroll marginbot-30">
                            <a href="#intro" id="totop" class="btn btn-circle">
                                <i class="fa fa-angle-double-up animated"></i>
                            </a>
                        </div>
                    </div>
                    <p>&copy;Copyright 2014 - Juna Digital BVBA - All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/bundle")
    @RenderSection("scripts", false)
</body>
</html>
